# HOST related variables
HOST_PORT_PREFIX=471

# GUEST related variables
# According to build, the home path of Integration Server may vary
GUEST_IS_HOME=/opt/webmethods/IntegrationServer

# Reusability variables
# CONTAINER_IMAGE=_your_msr_image_here_
# e.g.
CONTAINER_IMAGE=iwhicr.azurecr.io/webmethods-edge-runtime

# CONTAINER_IMAGE_TAG=_your_fix_level_here_
# e.g.
CONTAINER_IMAGE_TAG=12.0.2

GUEST_APP_PROPS_MOUNT_POINT=/tmp/application.properties

IS_ADMIN_PWD=NotManage

# For ERT spinning and pairing
ERT_NAME=TestERT
SAG_IS_CLOUD_REGISTER_URL='https://...int.ipaas.automation.ibm.com'
SAG_IS_EDGE_CLOUD_ALIAS=EdgeRuntime_${ERT_NAME}
SAG_IS_CLOUD_REGISTER_TOKEN=''
METERING_TOKEN=''
